{% extends 'mock_exam/studentbase.html' %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-default">

                    <h4 class="card-title">Exam Details :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Course : {{course.course_name}}</li>
                            <li>Total Question : {{total_questions}}</li>
                            <li>Total Marks : {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">Rules :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>সব প্রশ্নই MCQ (মাল্টিপল চয়েস প্রশ্ন)</li>
                            <li><span class="text-danger">Only one choice is correct among the given.</span></li>
                            <li>প্রতিটি সঠিক উত্তরের জন্য আপনাকে 2 নম্বর দেওয়া হবে এবং প্রতিটি ভুল উত্তরের জন্য 0.5 নম্বর কাটা হবে।</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'google-exam' course.id  %}" class="btn btn-success" style="border-radius:0px;">Enter Examination</a>
                </div>  
                <div class="card-footer" >Best Of Luck, Students!</div>
            </div>  
        </div>  

    </div>
</div>


<br><br><br><br><br><br>



{% endblock content %}